@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&family=Smooch&display=swap');
body{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../img/Rectangle\ 43.png);
    height: 100vh;
    background-size: cover;
    background-position-y: center;
    
}
.menu{
    display: flex;
    margin: 0;
    padding-top: 40px;
    justify-content: space-evenly;
}
.menu li{
    list-style: none;
    font-family: 'Arvo', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Smooch', cursive;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.menu a:hover{
border-bottom: 2px solid black;
transition: .5s;
}
.menu1{
    display: flex;
    gap: 40px;
}
.content h1{
    font-family: 'Lobster', cursive;
    font-family: 'Smooch', cursive;
    text-align: center;
    font-size: 210px;
    font-weight: 500;
}
.content p{
    padding-left: 55rem;
    margin-top: -15rem;
font-size: 40px;
font-family: 'Lobster', cursive;
font-family: 'Smooch', cursive;
}
.amazing{
display: flex;
}
.fff{
    text-align: center;
}
.text{
    margin: 10rem;
}
.fff img{
    width: 700px;
}
.fff h2{
    color: rgb(79, 172, 3);
    font-size: 50px;
}
.text li{
    list-style: none;
      font-size: 18px;
}
.amazing p{
    font-size: 15px;
    padding-left: 18rem;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&family=Smooch&display=swap');
.amazing2{
    display: flex;
}
.text2 li{
    list-style: none;
}
.text2 h4{
    font-size: 50px;
    font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Smooch', cursive;
}
.text2{
    padding: 7rem;
    font-size: 16px;
}
.text2 ul{
    padding: 0;
}
.text2 h4{
    color: darkgoldenrod;
}
.foto img{
    margin: 14rem;
    width: 40rem;
}
.text2 p{
    padding-left: 10rem;
    margin-top: -5rem;
    font-size: 20px;
}
.bron{
 background-color: rgb(255, 255, 255);
}
.amazing2 button{
 padding: 8px 20px 8px 20px;
border: none;
border-radius: 1px;
cursor: pointer;
background-color: transparent;
}
.amazing2 button:hover{
    background: gold;
    transition: .7s;
}
.bus{
    display: flex;
    padding-left: 8rem;
}
.hotel h4{
    color: goldenrod;
    font-size: 3rem;
    text-align: center;
    font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Smooch', cursive;
}
.hotel p{
    font-size: 20px;
    padding-left: 18rem;
    margin-top: -5rem;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&family=Smooch&display=swap');
.text3{
    padding-left: 5rem;
    margin-top: 5rem;
    font-size: 20px;
}
.gallery{
    display: flex;
    justify-content: center;
}
.photo-1 img{
    margin: 20px;
}
.photo-2 img{
    margin: 20px;
}
.menu3{
display: flex;
font-size: 10px;
}
.text4{
    padding-left: 8rem;
    margin-top: 2rem;
    font-size: 15px;
}
.text4 h4{
    text-align: left;
    font-size: 50px;
    color: darkgoldenrod;
font-weight: 100;
    font-family: 'Arvo', serif;
    font-family: 'Arvo', serif;
    font-family: 'Corinthia', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Meow Script', cursive;
    font-family: 'Smooch', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Corinthia&family=Lobster&family=Meow+Script&family=Smooch&display=swap');
.text4 h5{
    text-align:left;
    font-size: 25px;
    margin-top: -5rem;
    padding-left: 5rem;
    line-height: 25px;

}
.text5{
    padding-left: 4rem;
    margin-top:13rem;
    font-size: 15px;
    line-height: 25px;
   }
   .photo{
       padding-left: rem;
       margin-top: 10rem;
   }
   .text4 p{
       font-size: 18px;
   }
   .text5 p{
       font-size: 18px;
   }
   .photo img:nth-child(3){
       padding-left: 7rem;
       margin-top: 1rem;
   }
   .photo img:nth-child(1){
       padding-left: 3rem;
   }
   .klas{
       display: flex;

   }
   .text6{
       padding-left: 8rem;
   }@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Corinthia&family=Gwendolyn&family=Lobster&family=Meow+Script&family=Smooch&display=swap');
   .text6 h4{
       margin-top: 15rem;
       font-size: 4rem;
       padding-left: 10rem;
       font-family: 'Arvo', serif;
font-family: 'Corinthia', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'Lobster', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Smooch', cursive;
color: goldenrod;
   }@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Corinthia&family=Gwendolyn&family=Lobster&family=Meow+Script&family=Shalimar&family=Smooch&display=swap');
   .text6 h5{
       margin-top: -1rem;
       padding-left: 17rem;
       font-size: 4rem;
       font-family: 'Arvo', serif;
font-family: 'Corinthia', cursive;
font-family: 'Gwendolyn', cursive;
font-family: 'Lobster', cursive;
font-family: 'Meow Script', cursive;
font-family: 'Shalimar', cursive;
font-family: 'Smooch', cursive;
color: goldenrod;
   }
   .text6 p{
       font-size: 24px;
       padding-left: 22rem;
       margin-top: -5rem;

   }
   .text6 h3{
       padding-left: 10rem;
       margin-top: 5rem;
       font-size: 24px;
   }
   .photo5{
       padding-left: 8rem;
       margin-top: 6rem;
       width: 50rem;
   }
   .inputs{
       padding-left: 10rem;
       display: grid;
        width: 400px;
        margin-top: 5rem;
   }
   .inputs input{
    padding: 15px;
    border: none;
   }
   .button1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 2rem;
    border: none;
   }
   .photo7{
       margin-top: 7rem;
       width: 99rem;
   }
   footer{
       background: url('../img/Rectangle\ 444png.png');
       height: 100vh;
       background-size: cover;
       margin-top: 10rem;
   }
